/**
 * @file
 * Rate fiverstar widget styling.
 */

.rate-widget-fivestar ul {
  list-style: none;
  overflow: hidden;
}

.rate-widget-fivestar ul li {
  float: left;
}

.rate-widget-fivestar .item-list ul li {
  padding: 0;
  margin: 0;
}

.rate-widget-fivestar .item-list ul li a + .ajax-progress {
  height: 16px;

  /* Space between star and throbber */
  padding: 0 2px;
}

.rate-widget-fivestar .item-list ul li a + .ajax-progress .throbber {
  padding: 7px 8px 2px;
}

.rate-widget-fivestar ul li.hovering a {
  /* Yellow star */
  background: url(../images/fivestar.png) no-repeat 0 -16px;
}

.rate-fivestar-btn-filled,
.rate-fivestar-btn-empty {
  display: inline-block;
  width: 16px;
  height: 16px;

  /* Prevent overlapping text on image */
  text-indent: -9999px;
}

.rate-fivestar-btn-filled {
  /* Yellow star */
  background: url(../images/fivestar.png) no-repeat 0 -16px;
}
.rate-fivestar-btn-empty {
  /* Gray star */
  background: url(../images/fivestar.png) no-repeat 0 -32px;
}
