<div class="cmis-details">
  <div class="detail-title">
    {{ title }}
  </div>
  <div class="detail-mime-type">
    {{ mime_type }}
  </div>
  <div class="detail-size">
    {{ size }}
  </div>
</div>
