{#
/**
 * @file openstack_network_interface.html.twig
 * Default theme implementation to present OpenStack Network Interface data.
 *
 * This template is used when viewing OpenStack Network Interface pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_openstack_network_interface()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('openstack_network_interface') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
